body {
  font-family: fantasy;
  /* margin: 5%; */
  /* position: center; */
}

/* =====Shen's Bread header===== */
.header-container {
  position: fixed;
  background: white;
  width: 100%;
  height: 76px;
}
.header {
  font-family: chalkduster;
  color: orange;
  align-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
.logo {
  cursor: pointer;
  max-width: 33%;
  margin: 0 auto;
  text-align: center;
}
/*  =========welcome logged user============ */
.logged-user {
  margin-top: -62px;
  margin-left: 2%;
  color: white;
  background-color: orange;
  font-weight: bolder;
  padding: 0.5% 3%;
}

/* div.sender-info img {
  border-radius: 50%;
  width: 10%;
  height: auto;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
} */


.display-panel {
  /* display: grid;
  grid-template-columns: 20% 80%; */
  padding-top: 76px;
}

/* why not responsive?? */
.users {
  margin: 0;
  background-color: orange;
  color: white;
  /* padding-left: 50%; */
  font-size: 150%;
}
/* =================spinner ========== */
.spinner { 
  width: 15%;
  height: auto;
  margin: 18% 40%;
}
.messages {
  /* overflow: scroll; */
  display: grid;
  grid-row-gap: auto;
  padding-top: 2%;
  /* background-color: #F4F5F7; */
  list-style-type: none;
  /* padding: 5%; */
  margin: 0;  
  margin-bottom: 10%;
}

/*==== align up message list =====*/
/* .message {

} */
.message-info {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.meta-info  {
  padding-top: 2%;
  padding-bottom: 2%;
  
}
p {
  margin: 0 auto;
  /* background-color: yellowgreen; */
  /* background-color: rgba(255, 81, 0, 0.678); */
  padding: 2%;
  color: black;
  border-radius: 15px;
  width: fit-content;
  cursor: auto;
}
.meta-info {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 2px;
}
p.timestamp {
  color: #6f6f75;
  /* font-family: calibri; */
}

.title {
  margin-bottom: 0;
  margin-top: 10%;
}


.outgoing {
  margin-left: 20%;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 1%;
}
.outgoing-input {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-left: -26%;
}

form {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 71%;
}
/*===== input focus effect ======= */
.container {
  position: relative;
}
.input{
  font: chalkduster;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  /* border-bottom: 2px solid orange; */
  height: 30px;
  text-align: center;
  width: 100%
}

.input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orange;
}

:focus {
  outline: none;
}

.input:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}

.log-in-button {
  margin-top: 3%
}

/* ====== over flow buttons on browse page */
#share-button {
  float: right;
  display: block;
  position: sticky;
  bottom: 2.4rem;
}

#log-out-button {
  visibility: visible;
  float: left;
  display: block;
  position: sticky;
  bottom: 2.4rem;
}

/* =========button hover effect========== */
button{
  font-family: fantasy;
  border-radius: 100px;
  border:2px solid orange;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  font-size: 16px;
  transition: all .15s linear;
  padding: 0 3%;
}

button:hover {
  background-color: orange;
  color: white; 
  font-weight: bold;
}

/*======== pop page=========== */
.pop p.message-text {
  cursor: inherit;
}
.pop .message-info {
  margin-left: 2%;
  text-align: left;
}
.pop .small-info p {
  margin-left: 0 
}

/*======== login page=========== */
.login {
  margin: 5%;
  margin-top: 15%;
}
.login-form {
  padding-top: 70px;
}

/* ====== for smartphone========= */

@media screen and (max-width: 550px) {

  .header-container {
    height: auto;
  }
  .users {
      /* list-style-type: circle; */
      display: grid;
      grid-template-columns:50% 50%;
  }

  div.outgoing{
      padding: 0;
      widows: 100%;
      margin: 0;
  }

  .spinner {
    margin-top: 50%;
  }
  .logged-user {
    margin-top: inherit;
    margin: auto;
    width: 90%;
    text-align: center;
  }

  .display-panel {
    padding-top: 20%;
  }
  .messages {
    border-bottom: 1px solid #ccc;
    margin-bottom: 3%;
    padding-top: 0;
    padding-bottom: 3%;
  }

  #share-button {
    float: inherit;
    display: inherit;
    position: inherit;
  }
  #log-out-button {
    margin: 2% auto;
    float: inherit;
    display: inherit;
    position: inherit;
  }
  
}